.container {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}



header {
   display: block;
}


.row2 {
   position: relative;

}

h1 {
   width: 0;
   min-width: 100%;

}

.text {
   position: absolute;
   width: 100%;
   top: 2%;
   text-align: center;

   color: aliceblue;
   font-size: 50%;

   h1 {
      font-size: 15px;
   }



}

.text-extra {
   width: 100%;
}

.row div {
   padding: 3px 2px;

}

.row img {
   width: 100%;
   border-radius: 10px;
   padding-bottom: 4px;
}

#picture {
   height: 100%;
}

@media only screen and (min-width: 987px) {
   #text5 {
      padding-left: 20%;
   }

   /* For desktop: */
   .text3 {
      width: 100%;
   }

   .text {
      font-size: 110%;

      h1 {
         font-size: 35px;
      }
   }

   .row img {
      padding: 0 2px;
   }
   #collapsibleNavbar{
      margin-left: 60%;
   }
}

.navbar-toggler {
   margin-left: 30%;
}

.navbar-nav {
   margin-left: 2%;
   flex-direction: column;
}
